/Portals/0/Cache/Pages/*.resources
/App_Data/Search/*.lock
/DesktopModules/ThSportServer/obj/Debug/*.pdb
/DesktopModules/ThSportServer/obj/Debug/*.txt
/DesktopModules/ThSport/*.suo
/DesktopModules/ThSport/obj/Debug/*.cache
/DesktopModules/ThSportServer/obj/Debug/*.txt
/DesktopModules/ThSportServer/bin/Release/*.dll


/DesktopModules/ThSportServer/bin/Release/*.*
/DesktopModules/ThSportServer/obj/Debug/*.*

/DesktopModules/ThSport/*.xml



*.resources

*.suo
*.cache
*.pdb
/bin/*
*.suo
*.user
/bin/*.dll
/App_Data/*